@import './mixins'


body
	&.focused
		+mq(1130px, min)
			&::after 
			    content: ''
			    display: block
			    position: fixed
			    top: 0
			    left: 0
			    width: 100%
			    height: 100%
			    background: rgba(0,0,0,.35)		
			    z-index: 1000
			#filtro 
				position: relative
				z-index: 999999	
				
#wrap
	padding-top: 30px					
	+mq(1280px, max)
		padding-top: 0
		background: $clearblue
.pg-interna
	.container 
		max-width: 1680px
		padding-left: 40px 
		padding-right: 40px
		+mq(1280px, max)
			padding-left: 20px
			padding-right: 20px
	#wrap 
		padding-top: 0
		background: $clearblue
		background: -moz-linear-gradient(90deg, $clearblue 0%, $mediumblue 100%)
		background: -webkit-linear-gradient(90deg, $clearblue 0%, $mediumblue 100%)
		background: linear-gradient(90deg, $clearblue 0%, $mediumblue 100%)
		min-height: 100vh
		padding-bottom: 30px
		#header
			width: 100%
			background-color: transparent!important
			box-shadow: none
			margin-bottom: 80px
			.container 
				padding-top: 40px	
			+mq(1280px, max)
				margin-bottom: 30px
			nav 
				ul 
					li 
						&.active 
							font-weight: bold							
.content 
	p
		color: $terciary
		line-height: 1.6
		font-size: 1rem
		strong 
			color: $primary 
			font-weight: bold

#newsletter
	display: none 
	&.toggle 
		display: flex
	.modal-inner 
		max-width: 640px
		.section-title
			text-align: center 
			&+p
				text-align: center
				margin: 20px auto 
