@import '../../tools/mixins'
@import '../../tools/colors'

.pg-politica-de-investimentos
	.politica-de-investimentos
		.container 
			display: flex 
			flex-flow: row wrap 
			justify-content: space-between 
			align-items: stretch 
			+mq(1024px, max)
				flex-flow: column
				margin-bottom: -20px
			>  * 
				flex: 1
				&:first-child 
					padding-right: 20px 
					+mq(1024px, max)
						padding-right: 0
					& + * 
						padding-left: 20px
						+mq(1024px, max)
							padding-left: 0
				+mq(737px, max)
					padding: 0 0 20px
				text-align: justify
				ul.paragraph 
					display: flex 
					flex-flow: row wrap 
					justify-content: space-between
					align-items: stretch
					margin: 0 -15px 0
					> * 
						flex: 1
						text-align: left
						padding: 0 15px
						color: $terciary
						strong 
							display: block
							color: $primary
							margin-bottom: 5px