.pg-interna
	.footer 
		color: $terciary
		+mq(1180px, min)
			position: fixed 
			bottom: 0
			left: 0
			width: 100%
			z-index: 1
		picture 
			img 
				display: block
				&:not(:last-of-type)
					margin-bottom: 30px
		.container 
			padding-top: 60px
			padding-bottom: 30px
			strong 
				display: block 
				margin-bottom: 20px
			p, a:not(.btn), strong
				color: inherit 

			p 
				margin-top: 60px
				+mq(1140px, max)
					margin-top: 30px
				&.copyright 
					font-weight: bold
					text-align: center
			.footer-top 
				display: flex 
				flex-flow: row wrap 
				justify-content: space-between 
				align-items: stretch
				+mq(1140px, max)
					flex-flow: column
				.btn 
					width: 200px
					padding-left: 0
					padding-right: 0
				> * 
					flex: 0 0 auto 
					&:not(:last-child)
						+mq(1140px, max)
							margin-bottom: 30px
				nav 
					flex: 1
					max-width: 482px
					+mq(1140px, max)
						max-width: initial
					ul 
						width: 100%
						display: flex 
						flex-flow: row wrap 
						justify-content: space-between
						align-items: center 
						margin-bottom: -20px
						> * 
							margin-bottom: 20px
							flex: 0 0 50%
